.hh-pointer { cursor: pointer; }
.hh-help { cursor: help; }

.hh-inline { display: inline-block ;}

.hh-divider {
  border-bottom: solid 1px var(--color-border);
  margin: var(--spacing-sm) 0;
}
.hh-divider-y {
  border-right: solid 1px var(--color-border);
  margin: 0 var(--spacing-sm);
  height: 100%;
}

.hh-group {
  gap: var(--spacing-xs);
  align-items: center;
  display: flex;

  &--spread { justify-content: space-between; }
  &--end { justify-content: end; }
}

.hh-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
