.hh-pointer { cursor: pointer; }

.hh-divider {
  border-bottom: solid 1px var(--color-border);
  margin: var(--spacing-sm) 0;
}

.hh-group {
  gap: var(--spacing-xs);
  align-items: center;
  display: flex;
}

.hh-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
